@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

/* @plugin "@tailwindcss/forms"; */

@source "../views";

/* Enable Tailwind's dark mode class selector */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Inter, sans-serif;
}

/* @theme {
    --color-accent: var(--color-purple-500);
    --color-accent-content: var(--color-purple-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-green-500);
        --color-accent-content: var(--color-green-300);
        --color-accent-foreground: var(--color-white);
    }
} */
